{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Hunt Archive</h1>

<main>
    <h4>Ditch Day 2020</h4>
    <p>This page is for commemorating the good times! Ditch Day 2020 brought to you by the Avery Seniors (: </p>
    <img src="{% static "images/avery_seniors_artwork.png" %}" alt="Avery seniors art"/>
    <img src="{% static "images/avery_seniors2.jpg" %}" alt="Avery seniors"/>
    <img src="{% static "images/avery_seniors.jpg" %}" alt="Avery seniors"/>
    <p>More photos or videos of Ditch Day will probably go
        here eventually... </p>
</main>

{% endblock %}
