{% extends "base.html" %}
{% load staticfiles %}
{% load puzzle_tags %}

{% block content %}

<style>
@media print {
    a {
        text-decoration: none;
    }

    p a {
        color: inherit;
    }

    .feedback, .register {
        display: none;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .print-register {
        font-weight: bold;
        margin: 20px 0 40px;
    }
}

@media screen {
    .print-register {
        display: none;
    }

    .feedback, .register {
        text-align: center;
        margin-bottom: 40px;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .register .btn {
        height: 46px;
        line-height: 46px;
        font-size: 2rem;
    }
}

h3 {
    text-align: center;
    margin: 0;
}
h2 {
    text-align: center;
    margin-top: 1.5rem;
}
</style>

<h2>
Avery House Virtual Olympics
</h2>
<div class="container">
    <h2>
        <img src="{% static "images/avery_olympics.png" %}" alt="Avery Olympics Design" style="width:80%" class="center";/>
    </h2>
</div>
<div class="feedback">
    Welcome to the Avery House Virtual Olympics! We wish you luck in your noble quest for Avery Glory!
    <!-- <sup>*</sup>. -->
    <br>
</div>

{% if not hunt_is_closed %}
<div class="register">
    <a href="{% url 'register' %}" class="btn">Register your team! </a>
</div>
<!-- <h3 class="print-register">
    <a>Register at /register!</a>
</h3> -->
{% endif %}

<!-- {% if hunt_is_over %}
<div class="feedback">
{% if hunt_is_closed %}
Thanks for puzzling with us!
{% else %} -->
<!-- {% endif %} -->
<!-- Please fill out our <a href="https://FIXME">feedback form</a> -->
<!-- {% if is_wrapup_page_visible %}
and check out our <a href="{% url 'wrapup' %}">wrap-up</a>!
{% else %}
to let us know what you thought about the hunt.
{% endif %}
</div>
{% endif %} -->

<div class="row">
    <div class="four columns">
        <h3>What</h3>
        <p>
            Avery seniors (Class of 2020) have worked hard to organize the
            first ever Avery House Virtual Olympics! Get ready to have a blast
            solving these super fun & beginner-friendly puzzles!
            <br><br>
            Registration is open! Go, go go!
            <br>
        </p>
        <!-- <p><small><sup>*</sup>consectetur adipiscing elit</small></p> -->
    </div>
    <div class="four columns">
        <h3>When</h3>
        <p>
            Virtual Ditch Day is May 23, 2020! <br> The
            puzzle games will start at 10am PST, and end at 3pm PST. All of the
            puzzles will be available until May 30.
            <br>
            <!--
            The hunt {% if hunt_is_over %}began{% else %}will begin{% endif %} on
            {% format_time start_time '%B %d, %Y at %I:%M %p %Z' %},
            and {% if hunt_is_over %}ended{% else %}it will end {% endif %}at
            {% format_time end_time '%B %d, %Y at %I:%M %p %Z' %}. -->
        </p>
    </div>
    <div class="four columns">
        <h3>How to Play</h3>
        <p>
            Get started at the "Puzzles" tab!
            Every puzzle is different, and part of the
            fun is figuring out how to make sense of the given clues to extract
            a final answer.

            <br><br>

            <!-- This {% if hunt_is_closed %}was{% else %}is{% endif %} a puzzlehunt run by FIXME,
            the follow-up to the previous <a href="{% url 'archive' %}">FIXME Puzzle Hunts</a>. -->
            <!-- {% if not hunt_is_closed %} -->
            <!-- Registration is open! Get in teams of 1-5 and get hyped for an awesome day! -->
            <!-- {% endif %} -->
            Check out
            <a href="{% url 'rules' %}">rules</a> and <a href="{% url 'faq' %}">FAQ</a>
            for details.
        </p>
    </div>
</div>

</div>

{% endblock %}
