{% extends "puzzle.html" %}
{% block puzzle-body %}
<div style="position: relative; text-align: center; height: 0; padding-bottom: 100%; overflow: hidden">
    <p>This is the last puzzle! But you must complete all the other puzzles before you can finish this one!</p>
    <iframe
		src="https://drive.google.com/file/d/1Exnd36-UMj5-7S9X5co-fHNf45zUeSYz/preview?usp=sharing"
		frameBorder="0"
		seamless="seamless"
		style="margin: auto; position: absolute; top: 0; left: 0; width: 100%; height: 100%"
	>
         <p>disaster, it looks like your browser doesn't support iframes. :( </p>
    </iframe>
</div>
<p style="text-align: center;">*If the PDF does not appear above, click <a href="https://drive.google.com/file/d/1Exnd36-UMj5-7S9X5co-fHNf45zUeSYz/preview?usp=sharing">here</a> for puzzle.</p>

{% endblock %}
