{% extends "solution.html" %}

{% block puzzle-author %}
Helena Wu
{% endblock %}

{% block solution-body %}
<div style="position: relative; text-align: center; height: 0; padding-bottom: 100%; overflow: hidden">
    The answer is MEDITATION. This puzzle was designed for during ditch day only, but you deserve a break too!
</div>
<p style="text-align: center;">*If the PDF does not appear above, click <a href="https://drive.google.com/file/d/1nwp9unD0MUS-ZJdE1YCaV6oOlEWXfj_L/preview?usp=sharing">here</a> for solution. </p>
{% endblock %}
