{% extends "solution.html" %}

{% block puzzle-author %}
Helena Wu
{% endblock %}

{% block solution-body %}
<div style="position: relative; text-align: center; height: 0; padding-bottom: 100%; overflow: hidden">
    <iframe
		src="https://drive.google.com/file/d/1_t1_F5Pj3WHzSCtaFv5AH6fY6oyGulRz/preview?usp=sharing"
		frameBorder="0"
		seamless="seamless"
		style="margin: auto; position: absolute; top: 0; left: 0; width: 100%; height: 100%"
	>
         <p>disaster, it looks like your browser doesn't support iframes. :( </p>
    </iframe>
</div>
<p style="text-align: center;">*If the PDF does not appear above, click <a href="https://drive.google.com/file/d/1_t1_F5Pj3WHzSCtaFv5AH6fY6oyGulRz/preview?usp=sharing">here</a> for solution. </p>
{% endblock %}
